
{% extends 'base.html' %}

{% block title %} blog | Harun Rai {% endblock title %} 

{% block js %}



{% endblock js %}
{% block blogactive %} active {% endblock blogactive %}
{% block body %}
<div class="container my-4">
<h2>Articles by Locbiz:</h2>
{% for post in allPosts %}
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-2 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}({{post.views}} Views)</strong>
          <h3 class="mb-0"><a class="text-dark" href="/blog/{{post.slug}}">{{post.title}}</a></h3>
          <div class="mb-1 text-muted">{{post.datetime}}</div>
          <p class="card-text mb-auto">
            <div class="preview">
              {{post.content|safe | truncatechars:330}}
            </div>
          </p>
          <div class="my-2">
            <a href="/blog/{{post.slug}}"  role="button" class="btn btn-primary">Continue reading</a>
        </div>
        </div>
      </div>
      {% endfor %}
</div>
{% endblock body %}

<!--<script>
let previews = document.getElementByClassName('preview');
Array.from(previews).forEach((element)=>{
  element.innerHTML = element.innerText
})
</script> -->